In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data={'Temperature':['Hot','Cold','Very Hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
      'color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
      'Target':[1,1,1,0,1,0,1,0,1,1]}
df=pd.DataFrame(data,columns=['Temperature','color','Target'])
df

  Temperature   color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

In [3]:
#!pip install category_encoders

# Encoding Techniques not based on Target Variable
## One-hot Encoding

In [4]:
import category_encoders as ce
ohec=ce.one_hot.OneHotEncoder()
df1=ohec.fit_transform(df['color'])
res=pd.concat([df,df1],axis=1)
res

  Temperature   color  Target  color_1  color_2  color_3
0         Hot     Red       1        1        0        0
1        Cold  Yellow       1        0        1        0
2    Very Hot    Blue       1        0        0        1
3        Warm    Blue       0        0        0        1
4         Hot     Red       1        1        0        0
5        Warm  Yellow       0        0        1        0
6        Warm     Red       1        1        0        0
7         Hot  Yellow       0        0        1        0
8         Hot  Yellow       1        0        1        0
9        Cold  Yellow       1        0        1        0

## Label Encoding

In [5]:
df1=df.copy()
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df1['Temp_Encoded']=le.fit_transform(df['Temperature'])
df1

  Temperature   color  Target  Temp_Encoded
0         Hot     Red       1             1
1        Cold  Yellow       1             0
2    Very Hot    Blue       1             2
3        Warm    Blue       0             3
4         Hot     Red       1             1
5        Warm  Yellow       0             3
6        Warm     Red       1             3
7         Hot  Yellow       0             1
8         Hot  Yellow       1             1
9        Cold  Yellow       1             0

## Ordinal Encoding

In [6]:
df1=df.copy()
temp_dict={'Cold':1,
           'Warm':2,
           'Hot':3,
           'Very Hot':4
}
df1['Temp_Ordinal']=df1['Temperature'].map(temp_dict)
df1

  Temperature   color  Target  Temp_Ordinal
0         Hot     Red       1             3
1        Cold  Yellow       1             1
2    Very Hot    Blue       1             4
3        Warm    Blue       0             2
4         Hot     Red       1             3
5        Warm  Yellow       0             2
6        Warm     Red       1             2
7         Hot  Yellow       0             3
8         Hot  Yellow       1             3
9        Cold  Yellow       1             1

## Hashing

In [7]:
#!pip install category_encoders==2.0.0

In [12]:
df1=df.copy()
df2=ce.HashingEncoder().fit_transform(df1['color'])
res=pd.concat([df1,df2],axis=1)
res

,Temperature,color,Target,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7
0,Hot,Red,1,0,0,0,0,0,0,0,1
1,Cold,Yellow,1,1,0,0,0,0,0,0,0
2,Very Hot,Blue,1,0,1,0,0,0,0,0,0
3,Warm,Blue,0,0,1,0,0,0,0,0,0
4,Hot,Red,1,0,0,0,0,0,0,0,1
5,Warm,Yellow,0,1,0,0,0,0,0,0,0
6,Warm,Red,1,0,0,0,0,0,0,0,1
7,Hot,Yellow,0,1,0,0,0,0,0,0,0
8,Hot,Yellow,1,1,0,0,0,0,0,0,0
9,Cold,Yellow,1,1,0,0,0,0,0,0,0

In [17]:
df1=df.copy()
df1[['c_0','c_1']]=ce.HashingEncoder(n_components=2,hash_method='md5').fit_transform(df1['color'])
df1

  Temperature   color  Target  c_0  c_1
0         Hot     Red       1    0    1
1        Cold  Yellow       1    1    0
2    Very Hot    Blue       1    0    1
3        Warm    Blue       0    0    1
4         Hot     Red       1    0    1
5        Warm  Yellow       0    1    0
6        Warm     Red       1    0    1
7         Hot  Yellow       0    1    0
8         Hot  Yellow       1    1    0
9        Cold  Yellow       1    1    0

## Binary Encoding

In [15]:
df1=df.copy()
df1[['c_0','c_1','c_2']]=ce.BinaryEncoder().fit_transform(df1['color'])
df1

  Temperature   color  Target  c_0  c_1  c_2
0         Hot     Red       1    0    0    1
1        Cold  Yellow       1    0    1    0
2    Very Hot    Blue       1    0    1    1
3        Warm    Blue       0    0    1    1
4         Hot     Red       1    0    0    1
5        Warm  Yellow       0    0    1    0
6        Warm     Red       1    0    0    1
7         Hot  Yellow       0    0    1    0
8         Hot  Yellow       1    0    1    0
9        Cold  Yellow       1    0    1    0

## Helmert Encoding

In [35]:
df1=df.copy()
encoder=ce.HelmertEncoder()
dfh=encoder.fit_transform(df['color'])
df1=pd.concat([df1,dfh],axis=1)
df1

C:\Users\FF733YY\AppData\Local\Continuum\anaconda3\lib\site-packages\category_encoders\helmert.py:227: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  values_to_encode = values.get_values()

  Temperature   color  Target  intercept  color_0  color_1  color_2  color_3
0         Hot     Red       1          1     -1.0     -1.0     -1.0     -1.0
1        Cold  Yellow       1          1      1.0     -1.0     -1.0     -1.0
2    Very Hot    Blue       1          1      0.0      2.0     -1.0     -1.0
3        Warm    Blue       0          1      0.0      2.0     -1.0     -1.0
4         Hot     Red       1          1     -1.0     -1.0     -1.0     -1.0
5        Warm  Yellow       0          1      1.0     -1.0     -1.0     -1.0
6        Warm     Red       1          1     -1.0     -1.0     -1.0     -1.0
7         Hot  Yellow       0          1      1.0     -1.0     -1.0     -1.0
8         Hot  Yellow       1          1      1.0     -1.0     -1.0     -1.0
9        Cold  Yellow       1          1      1.0     -1.0     -1.0     -1.0

## Frequency Encoding

In [21]:
df1=df.copy()
temp_dict=dict(df1['Temperature'].value_counts())
df1['Temp_Freq']=df1['Temperature'].map(temp_dict)
df1

  Temperature   color  Target  Temp_Freq
0         Hot     Red       1          4
1        Cold  Yellow       1          2
2    Very Hot    Blue       1          1
3        Warm    Blue       0          3
4         Hot     Red       1          4
5        Warm  Yellow       0          3
6        Warm     Red       1          3
7         Hot  Yellow       0          4
8         Hot  Yellow       1          4
9        Cold  Yellow       1          2

# Encoding Techniques based on Target Variable
## Mean Encoding

In [29]:
df1=df.copy()
mean_df=df1.groupby(['Temperature']).mean()
df1['Temp_mean']=df1.Temperature.map(mean_df['Target'])
df1

  Temperature   color  Target  Temp_mean
0         Hot     Red       1   0.750000
1        Cold  Yellow       1   1.000000
2    Very Hot    Blue       1   1.000000
3        Warm    Blue       0   0.333333
4         Hot     Red       1   0.750000
5        Warm  Yellow       0   0.333333
6        Warm     Red       1   0.333333
7         Hot  Yellow       0   0.750000
8         Hot  Yellow       1   0.750000
9        Cold  Yellow       1   1.000000

## Weight of Evidence (WOE) Encoding

In [31]:
df1=df.copy()
mean_df=df1.groupby(['Temperature']).mean()
df1['pos_prob']=df1.Temperature.map(mean_df['Target'])
df1['neg_prob']=1-df1['pos_prob']
df1['neg_prob']=np.where(df1['neg_prob']==0,0.000001,df1['neg_prob'])
df1['Temp_WOE']=np.log(df1['pos_prob']/df1['neg_prob'])
df1

  Temperature   color  Target  pos_prob  neg_prob   Temp_WOE
0         Hot     Red       1  0.750000  0.250000   1.098612
1        Cold  Yellow       1  1.000000  0.000001  13.815511
2    Very Hot    Blue       1  1.000000  0.000001  13.815511
3        Warm    Blue       0  0.333333  0.666667  -0.693147
4         Hot     Red       1  0.750000  0.250000   1.098612
5        Warm  Yellow       0  0.333333  0.666667  -0.693147
6        Warm     Red       1  0.333333  0.666667  -0.693147
7         Hot  Yellow       0  0.750000  0.250000   1.098612
8         Hot  Yellow       1  0.750000  0.250000   1.098612
9        Cold  Yellow       1  1.000000  0.000001  13.815511

## Probability Ratio Encoding

In [32]:
df1=df.copy()
mean_df=df1.groupby(['Temperature']).mean()
df1['pos_prob']=df1.Temperature.map(mean_df['Target'])
df1['neg_prob']=1-df1['pos_prob']
df1['neg_prob']=np.where(df1['neg_prob']==0,0.000001,df1['neg_prob'])
df1['Temp_WOE']=df1['pos_prob']/df1['neg_prob']
df1

  Temperature   color  Target  pos_prob  neg_prob   Temp_WOE
0         Hot     Red       1  0.750000  0.250000        3.0
1        Cold  Yellow       1  1.000000  0.000001  1000000.0
2    Very Hot    Blue       1  1.000000  0.000001  1000000.0
3        Warm    Blue       0  0.333333  0.666667        0.5
4         Hot     Red       1  0.750000  0.250000        3.0
5        Warm  Yellow       0  0.333333  0.666667        0.5
6        Warm     Red       1  0.333333  0.666667        0.5
7         Hot  Yellow       0  0.750000  0.250000        3.0
8         Hot  Yellow       1  0.750000  0.250000        3.0
9        Cold  Yellow       1  1.000000  0.000001  1000000.0